@inherits LayoutComponentBase
<PageTitle>My Marketplace</PageTitle>
<header>
    <nav class="navbar navbar-expand-sm box-shadow">
        <div class="container">
            <a class="navbar-brand" href="/">My Marketplace</a>
            @if (Convert.ToBoolean(Environment.GetEnvironmentVariable("AuthEnabled")))
            {
                <div class="d-flex">
                    <LoginDisplay />
                </div>
            }
        </div>
    </nav>
</header>
<main class="main container">
    @Body
</main>
<footer>
    <div class="container">
        <FooterInfo />
        <div class="d-flex">
            Contact: @@timheuer on GitHub |&nbsp;&nbsp;<a href="https://marketplace.visualstudio.com/items?itemName=TimHeuer.mympclient">Download VS Code Extension</a>
        </div>
    </div>
</footer>