@inherits LayoutComponentBase
<PageTitle>My Marketplace</PageTitle>
<header>
    <nav class="navbar navbar-expand-sm box-shadow">
        <div class="container">
            <a class="navbar-brand" href="/">My Marketplace</a>
            <div class="d-flex">
                <LoginDisplay/>
            </div>
        </div>
    </nav>
</header>
<main class="main container">
    @Body
</main>
<footer>
    PRIVATE INTERNAL USE ONLY
</footer>