@inject IHttpContextAccessor _httpContext

@code {
    string role = "User";
    string color = "blue";

    protected override async Task OnInitializedAsync()
    {
        if (_httpContext.HttpContext is not null)
        {
            var user = _httpContext.HttpContext.User;
            role = user.IsInRole("Admins") ? "Admin" : "User";
            color = user.IsInRole("Admins") ? "red" : "blue";
            StateHasChanged();
        }
    }
}
<Tag Color="@color">@role</Tag>
<div>
    Admin: @(_httpContext.HttpContext.User.IsInRole("Admins") ? "Yes" : "No")<br/>
    User: @(_httpContext.HttpContext.User.IsInRole("Users") ? "Yes" : "No")
</div>