[*.cs]

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none
dotnet_diagnostic.CS8602.severity = none
